{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>{{ titulo }}</title>
{% endblock %}
{% block conteudo %}
    <div class="row">
        <div class="col-12">
            <div align="center">
                <h2>{{ descricao }}</h2>
            </div>
        </div>
    </div>
    <p class="lead">Preencha todos os campos obrigatório.</p>
    <hr>
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">
            <i class="bi bi-check-lg"></i>
            {{ botao|default:"Cadastrar" }}
        </button>
    </form>
{% endblock %}